//
   Created by andrey on 31.10.16.
extends layout

block content
  .container
    h1.text-center Local authentication Node.js
    .jumbotron.text-center
      h2 Login or Register
      a.btn.btn-success.btn(href='/login', role='button') Login
      a.btn.btn-info.btn(href='/signup', role='button') Register

