//
   Created by andrey on 31.10.16.
doctype html
html
  head
    title= title
    link(rel='stylesheet', href=' stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='stylesheets/style.css')


  body
    block content
