//
   Created by andrey on 31.10.16.
extends layout

block content


    .container
        h1.text-center Sign Up page
        form.form-horizontal(action='/signup' name='signup' method='post')
            .form-group
                label.col-sm-3.control-label(for='email') Email
                .col-sm-9
                    input#email.form-control(type='email', name='email' , placeholder='Email')
            .form-group
                label.col-sm-3.control-label(for='password') Password
                .col-sm-9
                    input#password.form-control(type='password', name='password', placeholder='Password')
            .form-group
                label.col-sm-3.control-label(for='inputPasswordConfirm') Confirm Password
                .col-sm-9
                    input#inputPasswordConfirm.form-control(type='password', placeholder='Confirm your Password')
            .form-group
                .col-sm-offset-3.col-sm-9
                    button.btn.btn-info(type='submit') Sign Up
        .row
            if (message.length)
                p.alert.alert-warning.text-center= message