//
   Created by andrey on 31.10.16.
extends layout

block content
    .container
        h1.text-center User Profile
        if user.local.email
            h3= user.local.email + ' - you email'
            h3= user.local.password + ' - your hashed password'
        else
            h3= user.facebook.id + ' - you facebook id'
            h3= 'Hello' + user.facebook.id
        a(href='/logout').btn.btn-warning Log out
